# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java
local.properties
Android/assets/www/favicon.ico
Android/assets/www/index.html
Android/assets/www/javascript.js
Android/assets/www/phototime.css
Android/assets/www/head.min.js
Android/assets/www/jquery-1.5.1.min.js